@import "fonts/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Visby, Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-darkblue text-white tracking-wide;
    z-index: -5;
}

/*custom scroll bar*/
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    @apply bg-secondary-light bg-opacity-10 rounded-xl text-blue-900 text-opacity-40;
    border: 0.2px solid currentColor;
}

p {
    @apply font-secondary;
}

* {
    box-sizing: border-box;
}

.m-layout {
    @apply px-4 max-w-screen-2xl lg:max-w-screen-lg md:max-w-screen-sm sm:max-w-screen-sm mx-auto;
}

.m-container {
    @apply px-4 max-w-screen-sm lg:max-w-screen-xl md:max-w-screen-sm sm:max-w-screen-sm mx-auto;
}

.section-header {
    @apply font-black text-xl;
}